.git
.env
__pycache__
*.pyc
*.pyo
*.pyd
.db
db.sqlite3
backend/database/*.json
backend/memory_db.json
*.txt
*.log
backend/138_out.txt
backend/crash_log.txt
backend/crash_log2.txt
backend/import_test_log.txt
backend/server_test_log.txt
backend/test_out.txt
node_modules
.vscode
.idea
